---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact" page="contact" extraClasses="bg-orange-50 text-stone-900">
	<main>
        <section class="pt-32">
			<div class="max-w-6xl mx-auto">
				<p class="text-xl text-center">Shoot me a message on 
                    <a class="underline decoration-dashed text-sky-400" href="https://twitter.com/Simply_Merlin" target="_blank">twitter</a>
                     or <a class="underline decoration-dashed text-blue-600" href="https://discord.com/users/196505313099120640" target="_blank">discord</a> please :)</p>
			</div>
	  </section>
	</main>
</Layout>