---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Contact"
  page="contact"
  extraClasses="bg-orange-50 text-stone-900"
>
  <main>
    <section class="pt-32">
      <div class="mx-auto max-w-6xl">
        <p class="text-center text-xl">
          Shoot me a message on
          <a
            class="text-sky-400 underline decoration-dashed"
            href="https://twitter.com/Simply_Merlin"
            target="_blank">twitter</a
          >
          or <a
            class="text-blue-600 underline decoration-dashed"
            href="https://discord.com/users/196505313099120640"
            target="_blank">discord</a
          > please :)
        </p>
      </div>
    </section>
  </main>
</Layout>
