---
import Layout from "../layouts/Layout.astro";
import BigFact from "../components/BigFact.astro"
---

<Layout
  page="developer"
  title="Developer"
  extraClasses="bg-neutral-900 text-neutral-300 font-mono"
>
	<main>
	  <div class="min-h-screen grid items-center">
			<div>
				<div class="max-w-6xl mx-auto">
					<div class="grid gap-2 mb-12 items-center justify-center">
						<h1 class="text-7xl font-bold tracking-tight text-center">
							Merlin lol
						</h1>
						<p class="text-center font-semibold text-2xl">good dev</p>
					</div>
				</div>
				<section class="mt-12 text-center">
					<p>i can do some web development but am goated at kotlin, especially with spigot api lol</p>
					<p>this site is coded in astro with some tailwind sprinkled around</p>
					<p>i also do react sometimes</p>
					<p>very sometimes</p>
				</section>
				<div class="mx-auto text-lg mt-12">
					<div class="flex justify-center gap-8 text-yellow-100 text-center underline decoration-dashed items-center">
						<a href="https://github.com/simplymerlin" target="_blank">Github</a>
						<a href="https://twitter.com/Simply_Merlin" target="_blank">Twitter</a>
						<a href="https://discord.com/users/196505313099120640" target="_blank">Discord</a>
						<a href="https://youtube.com/@SimplyMerlin" target="_blank">Youtube</a>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>