---
import Layout from "../layouts/Layout.astro";
import VideoShowcase from "../components/VideoShowcase.svelte";
import ClientGrid from "../components/ClientGrid.astro";
import AboutMe from "../components/AboutMe.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  fullTitle="Merlin's Portfolio"
  title="Editor"
  page="editor"
  extraClasses="bg-orange-50 text-stone-900"
  ogImage="/og.png"
  keywords="video editor, portfolio, music, coding, cool, simplymerlin"
  canonical="https://simplymerlin.com/"
>
  <div class="container mx-auto px-2">
    <div class="flex items-center justify-center py-48 max-sm:py-36">
      <div class="flex max-w-2xl flex-col gap-4">
        <h1 class="text-center font-serif text-8xl tracking-tighter max-sm:text-5xl">
          Quite decent edits by <span class="text-brownish">Merlin</span>!
        </h1>
        <p class="text-center text-balance text-2xl text-stone-700 max-sm:text-lg">
          I love video editing, and I love music, and I love coding, But I mostly love video editing. I've been editing for more than 6 years, and generated over 15 million views!
        </p>
      </div>
    </div>

    <h2 class="text-center font-serif text-6xl tracking-tighter max-sm:text-4xl">
      My best works
    </h2>
    <VideoShowcase client:load />
    
    <h2 class="mt-16 text-center font-serif text-6xl tracking-tighter max-sm:text-4xl">
      Clients & Vids
    </h2>
    <ClientGrid />

    <h2 class="mt-16 text-center font-serif text-6xl tracking-tighter max-sm:text-4xl">
      More stuff about me
    </h2>
    <AboutMe />
  </div>
  <Footer />
</Layout>
