---
import Layout from "../layouts/Layout.astro";
import BigFact from "../components/BigFact.astro";
---

<Layout title="Editor" page="editor" extraClasses="bg-orange-50 text-stone-900">
  <main>
    <div class="grid min-h-screen items-center">
      <div>
        <div class="mx-auto max-w-6xl">
          <div class="mb-12 grid items-center justify-center gap-2">
            <h1 class="text-center text-7xl font-bold tracking-tight">
              Merlin lol
            </h1>
            <p class="text-center text-2xl font-semibold">good editor</p>
          </div>
        </div>
        <div class="mx-auto grid max-w-4xl grid-cols-3 text-center">
          <BigFact header="15M+" description="total views" />
          <BigFact header="6+" description="years of experience" />
          <BigFact header="600k+" description="total likes" />
        </div>
        <div class="mx-auto mt-12 text-lg">
          <div
            class="flex items-center justify-center gap-8 text-center text-blue-500 underline decoration-dashed"
          >
            <a
              href="https://www.youtube.com/playlist?list=PLe_xsQA-kWyIE1Y94Z7iH1BJTQXJMn_a1"
              target="_blank">All vids i've edited</a
            >
            <a href="https://youtube.com/@SimplyMerlin" target="_blank"
              >Youtube</a
            >
            <a href="https://twitter.com/Simply_Merlin" target="_blank"
              >Twitter</a
            >
            <a
              href="https://discord.com/users/196505313099120640"
              target="_blank">Discord</a
            >
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
