---
import Layout from "../layouts/Layout.astro";
---

<Layout page="home" extraClasses="bg-neutral-950 text-neutral-200">
  <main class="min-h-screen">
    <div
      class="container mx-auto flex flex-col justify-center min-h-screen gap-24"
    >
      <div>
        <h1 class="text-6xl font-bold text-center">Yeah, i do both.</h1>
        <p class="text-center text-xl text-neutral-600 mt-2">
          Need a video editor, or need a developer? Well I do both. Feel free to
          pick a path.
        </p>
      </div>
      <div class="grid grid-cols-2 gap-8">
        <a rel="prefetch" href="/editor">
          <div
            class="h-full bg-orange-50 transition-colors grid place-items-center rounded-xl text-stone-800 border border-neutral-200"
          >
            <div class="flex flex-col gap-2 items-center my-24">
              <h2 class="text-7xl font-bold tracking-tight">Video Editor</h2>
              <span class="text-2xl">Enter</span>
            </div>
          </div>
        </a>
        <a rel="prefetch" href="/developer">
          <div
            class="h-full bg-neutral-900 rounded-xl grid place-items-center text-neutral-300 font-mono border border-neutral-800"
          >
            <div class="flex flex-col gap-2 items-center">
              <h2 class="text-7xl font-bold tracking-tight">Developer</h2>
              <span class="text-2xl">Enter</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </main>
</Layout>
