---
import Layout from "../layouts/NewLayout.astro";
import VideoInfo from "../components/VideoInfo.astro";
---

<Layout title="Editor" page="editor" extraClasses="bg-orange-50 text-stone-900">
    <div class="container mx-auto">
        <div class="flex items-center justify-center py-48">
            <div class="flex max-w-2xl flex-col gap-8">
                <h1 class="text-center font-serif text-8xl tracking-tighter">
                    Quite decent edits by <span class="text-brownish"
                        >Merlin</span
                    >!
                </h1>
                <p class="text-center text-2xl text-stone-700">
                    I'm pretty good at video editing, but I'm not too sure what
                    to write here. So this is temporary. Unless you see this...
                    then I forgot to write something. (oops)
                </p>
            </div>
        </div>
        <h2 class="text-center font-serif text-6xl tracking-tighter">
            My best works
        </h2>
        <div class="grid grid-cols-2 py-8">
            <div
                class="flex w-3/4 flex-col gap-4 rounded-xl bg-orange-100 px-4 py-2"
            >
                <VideoInfo
                    description="While the script is written by Legitimoose, almost all the shots are recorded by me! Including diving into the code and rolling back to older versions."
                />
                <VideoInfo
                    timecode="0:53"
                    description="This video has some pretty cool motion graphics. I used After Effects expressions to create this accurate hex code converter."
                />
                <VideoInfo
                    timecode="2:69"
                    description="More motion graphics! This time trying to explain some fairly complex numbers in a little more digestable way. Also with just a little bit of tactile sound design."
                />
            </div>
            <div class="aspect-video bg-red-500">test</div>
        </div>
    </div>
</Layout>
