---
import Layout from "../layouts/NewLayout.astro";
import VideoShowcase from "../components/VideoShowcase.svelte";
import ClientRow from "../components/ClientRow.astro";
---

<Layout title="Editor" page="editor" extraClasses="bg-orange-50 text-stone-900">
    <div class="container mx-auto">
        <div class="flex items-center justify-center py-48">
            <div class="flex max-w-2xl flex-col gap-4">
                <h1 class="text-center font-serif text-8xl tracking-tighter">
                    Quite decent edits by <span class="text-brownish"
                        >Merlin</span
                    >!
                </h1>
                <p class="text-center text-2xl text-stone-700">
                    I'm pretty good at video editing, but I'm not too sure what
                    to write here. So this is temporary. Unless you see this...
                    then I forgot to write something. (oops)
                </p>
            </div>
        </div>
        <h2 class="text-center font-serif text-6xl tracking-tighter">
            My best works
        </h2>
        <VideoShowcase client:load />
        <div class="flex flex-col gap-4">
            <ClientRow name="ParrotX2" pfp="/pfps/ParrotX2.jpg" bgColor="bg-red-400/25" pfpWidth="w-[10%]" videos={4} flex="mu-16" />
            <div class="flex items-stretch gap-4">
                <ClientRow name="Unofficial Theo But Short" pfp="/pfps/theo-is-short-lol.jpg" bgColor="bg-purple-400/25" pfpWidth="w-[15%]" videos={2} flex="flex-2" />
                <ClientRow name="HenryLand" pfp="/pfps/HenryLand.jpg" bgColor="bg-blue-400/25" pfpWidth="w-[30%]" videos={1} flex="flex-1" />
            </div>
            <ClientRow name="SimplyMerlin" pfp="/pfps/literally-me.jpg" bgColor="bg-black/10" pfpWidth="w-[10%]" videos={4} />
            <div class="flex items-stretch gap-4">
                <ClientRow name="MinuteTech" pfp="/pfps/MinuteTech.jpg" bgColor="bg-red-900/25" pfpWidth="w-[30%]" videos={1} flex="flex-1" />
                <ClientRow name="Legitimoose" pfp="/pfps/Legitimoose.jpg" bgColor="bg-green-400/25" pfpWidth="w-[15%]" videos={2} flex="flex-2" />
            </div>
        </div>
    </div>
</Layout>
