---
import Layout from "../layouts/NewLayout.astro";
import VideoShowcase from "../components/VideoShowcase.svelte";
---

<Layout title="Editor" page="editor" extraClasses="bg-orange-50 text-stone-900">
    <div class="container mx-auto">
        <div class="flex items-center justify-center py-48">
            <div class="flex max-w-2xl flex-col gap-4">
                <h1 class="text-center font-serif text-8xl tracking-tighter">
                    Quite decent edits by <span class="text-brownish"
                        >Merlin</span
                    >!
                </h1>
                <p class="text-center text-2xl text-stone-700">
                    I'm pretty good at video editing, but I'm not too sure what
                    to write here. So this is temporary. Unless you see this...
                    then I forgot to write something. (oops)
                </p>
            </div>
        </div>
        <h2 class="text-center font-serif text-6xl tracking-tighter">
            My best works
        </h2>
        <VideoShowcase client:load />
        <div class="mu-16 flex items-center gap-4 rounded-xl bg-red-400/10 p-4">
            <div class="flex w-[10%] shrink-0 flex-col items-center gap-2">
                <img
                    class="aspect-square w-full rounded-full"
                    src="/pfps/ParrotX2.jpg"
                    alt="ParrotX2"
                />
                <div class="text-center font-medium">ParrotX2</div>
            </div>
            <div class="grid flex-1 grid-cols-4 gap-4">
                <div class="aspect-video w-full rounded-lg bg-stone-800"></div>
                <div class="aspect-video w-full rounded-lg bg-stone-800"></div>
                <div class="aspect-video w-full rounded-lg bg-stone-800"></div>
                <div class="aspect-video w-full rounded-lg bg-stone-800"></div>
            </div>
        </div>
        <div class="flex items-stretch gap-4">
            <div
                class="flex flex-2 items-center gap-4 rounded-xl bg-green-400/10 p-4"
            >
                <div class="flex w-[15%] shrink-0 flex-col items-center gap-2">
                    <img
                        class="aspect-square w-full rounded-full"
                        src="/pfps/theo-is-short-lol.jpg"
                        alt="Unofficial Theo But Short"
                    />
                    <div class="text-center font-medium">
                        Unofficial Theo But Short
                    </div>
                </div>
                <div class="grid flex-1 grid-cols-2 gap-4">
                    <div class="aspect-video w-full rounded-lg bg-stone-800">
                    </div>
                    <div class="aspect-video w-full rounded-lg bg-stone-800">
                    </div>
                </div>
            </div>
            <div
                class="flex flex-1 items-center gap-4 rounded-xl bg-red-900/10 p-4"
            >
                <div class="flex w-[30%] shrink-0 flex-col items-center gap-2">
                    <img
                        class="aspect-square w-full rounded-full"
                        src="/pfps/HenryLand.jpg"
                        alt="HenryLand"
                    />
                    <div class="text-center font-medium">HenryLand</div>
                </div>
                <div class="grid flex-1 grid-cols-1 gap-4">
                    <div class="aspect-video w-full rounded-lg bg-stone-800">
                    </div>
                </div>
            </div>
        </div>
        <div class="flex items-center gap-4 rounded-xl bg-blue-400/10 p-4">
            <div class="flex w-[10%] shrink-0 flex-col items-center gap-2">
                <img
                    class="aspect-square w-full rounded-full"
                    src="/pfps/literally-me.jpg"
                    alt="SimplyMerlin"
                />
                <div class="text-center font-medium">SimplyMerlin</div>
            </div>
            <div class="grid flex-1 grid-cols-4 gap-4">
                <div class="aspect-video w-full rounded-lg bg-stone-800"></div>
                <div class="aspect-video w-full rounded-lg bg-stone-800"></div>
                <div class="aspect-video w-full rounded-lg bg-stone-800"></div>
                <div class="aspect-video w-full rounded-lg bg-stone-800"></div>
            </div>
        </div>
        <div class="flex items-stretch gap-4">
            <div
                class="flex flex-1 items-center gap-4 rounded-xl bg-red-900/10 p-4"
            >
                <div class="flex w-[30%] shrink-0 flex-col items-center gap-2">
                    <img
                        class="aspect-square w-full rounded-full"
                        src="/pfps/MinuteTech.jpg"
                        alt="MinuteTech"
                    />
                    <div class="text-center font-medium">MinuteTech</div>
                </div>
                <div class="grid flex-1 grid-cols-1 gap-4">
                    <div class="aspect-video w-full rounded-lg bg-stone-800">
                    </div>
                </div>
            </div>
            <div
                class="flex flex-2 items-center gap-4 rounded-xl bg-green-400/10 p-4"
            >
                <div class="flex w-[15%] shrink-0 flex-col items-center gap-2">
                    <img
                        class="aspect-square w-full rounded-full"
                        src="/pfps/Legitimoose.jpg"
                        alt="Legitimoose"
                    />
                    <div class="text-center font-medium">Legitimoose</div>
                </div>
                <div class="grid flex-1 grid-cols-2 gap-4">
                    <div class="aspect-video w-full rounded-lg bg-stone-800">
                    </div>
                    <div class="aspect-video w-full rounded-lg bg-stone-800">
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
