---
import Layout from "../layouts/NewLayout.astro";
import VideoShowcase from "../components/VideoShowcase.svelte";
---

<Layout title="Editor" page="editor" extraClasses="bg-orange-50 text-stone-900">
    <div class="container mx-auto">
        <div class="flex items-center justify-center py-48">
            <div class="flex max-w-2xl flex-col gap-4">
                <h1 class="text-center font-serif text-8xl tracking-tighter">
                    Quite decent edits by <span class="text-brownish"
                        >Merlin</span
                    >!
                </h1>
                <p class="text-center text-2xl text-stone-700">
                    I'm pretty good at video editing, but I'm not too sure what
                    to write here. So this is temporary. Unless you see this...
                    then I forgot to write something. (oops)
                </p>
            </div>
        </div>
        <h2 class="text-center font-serif text-6xl tracking-tighter">
            My best works
        </h2>
        <VideoShowcase client:load />
    </div>
</Layout>
