<main>
  <div class="min-h-screen grid grid-cols-2 relative">
    <div class="absolute w-full grid place-items-center mt-24">
      <h1 class="text-6xl font-bold text-white mix-blend-difference">
        Choose your path
      </h1>
    </div>
    <div class="h-full bg-orange-50 grid place-items-center">
      <div class="flex flex-col gap-2 items-center">
        <h2 class="text-7xl font-bold tracking-tight">Video Editor</h2>
        <a class="text-2xl" href="/editor">Enter</a>
      </div>
    </div>
    <div
      class="h-full bg-neutral-900 grid place-items-center text-neutral-300 font-mono"
    >
      <div class="flex flex-col gap-2 items-center">
        <h2 class="text-7xl font-bold tracking-tight">Developer</h2>
        <a class="text-2xl" href="/developer">Enter</a>
      </div>
    </div>
  </div>
</main>
