---
---

<section class="my-8">
  <div class="mt-8 flex items-stretch gap-4 max-sm:flex-col">
    <div class="flex-1 rounded-xl bg-stone-400/5 px-10 py-10 outline outline-stone-400/25 max-sm:px-6 max-sm:py-8">
      <h3 class="mb-6 font-serif text-3xl tracking-tight text-stone-900 max-sm:text-2xl">
        Things I care about in editing
      </h3>
      <ul class="flex flex-col gap-4">
        <li>
          <span class="font-serif text-xl text-stone-800">Audio</span>
          <p class="text-stone-600">I care a lot about audio, I'm a music producer after all! Most of my edits end up with a compressor and EQ.</p>
        </li>
        <li>
          <span class="font-serif text-xl text-stone-800">Pacing</span>
          <p class="text-stone-600">I've spent more than 300 hours focusing solely on cutting and pacing, I've gotten pretty good at it!</p>
        </li>
        <li>
          <span class="font-serif text-xl text-stone-800">Speed</span>
          <p class="text-stone-600">I got the hotkeys, I got the workflow down, I can get videos out quite fast!</p>
        </li>
      </ul>
    </div>

    <div class="flex-1 rounded-xl bg-stone-400/5 px-10 py-10 outline outline-stone-400/25 max-sm:px-6 max-sm:py-8">
      <h3 class="mb-6 font-serif text-3xl tracking-tight text-stone-900 max-sm:text-2xl">
        Other things I love
      </h3>
      <ul class="flex flex-col gap-4">
        <li>
          <span class="font-serif text-xl text-stone-800">Making music</span>
          <p class="text-stone-600">I love <a href="https://x.com/Simply_Merlin/status/2034374286920589760" target="_blank" class="hover:text-stone-900 decoration-stone-900/30 underline transition-colors">playing piano and music theory</a> A LOT. Genuinely if you make music content I would LOVE to edit your videos.</p>
        </li>
        <li>
          <span class="font-serif text-xl text-stone-800">Coding</span>
          <p class="text-stone-600">I spent a lot of my time coding. I work for <a href="https://x.com/CapolloMedia" target="_blank" class="hover:text-stone-900 decoration-stone-900/30 underline transition-colors">Capollo Media</a> as a java/kotlin developer as well!</p>
        </li>
        <li>
          <span class="font-serif text-xl text-stone-800">Computer Generated Art</span>
          <p class="text-stone-600">No, not AI lol. I've been learning and loving <a href="https://x.com/Simply_Merlin/status/1965533374967321020" target="_blank" class="hover:text-stone-900 decoration-stone-900/30 underline transition-colors">TouchDesigner</a> to make cool procedural visuals! (I'm followed by TouchDesigner on twitter you know... That's my biggest flex)</p>
        </li>
      </ul>
    </div>
  </div>
</section>
