---
---

<footer class="mt-16">
  <div class="h-8 w-full bg-repeat-x bg-[url('/wave.svg')] bg-size-[60px_32px]"></div>

  <div class="bg-stone-950">
    <div class="container mx-auto flex items-end justify-between px-4 py-32 max-sm:flex-col max-sm:items-center max-sm:gap-12">
      <div class="flex flex-col items-start gap-2 max-sm:items-center">
        <img src="/signature.png" alt="Signature" class="h-12 opacity-50" />
        <p class="text-xs text-white/50 max-sm:text-center text-balance">© {new Date().getFullYear()} SimplyMerlin. All rights reserved... I'm serious. I reserved all of them.</p>
      </div>
      <div class="flex flex-row items-center gap-4 text-sm font-bold tracking-widest text-white/50 uppercase sm:flex-col sm:items-end sm:gap-3">
        <a
          href="https://twitter.com/Simply_Merlin"
          target="_blank"
          class="transition-colors hover:text-white"
        >
          Twitter
        </a>
        <a
          href="https://github.com/simplymerlin"
          target="_blank"
          class="transition-colors hover:text-white"
        >
          Github
        </a>
        <a
          href="https://discord.com/users/196505313099120640"
          target="_blank"
          class="transition-colors hover:text-white"
        >
          Discord
        </a>
        <a
          href="https://youtube.com/@SimplyMerlin"
          target="_blank"
          class="transition-colors hover:text-white"
        >
          Youtube
        </a>
      </div>
    </div>
  </div>
</footer>
