---
export interface Props {
  title?: string;
  page: string;
}

const { page, title } = Astro.props;

const getOpposite = () => {
  return page === "developer" ? "" : "developer";
};
---

<nav
  class="fixed flex w-full justify-between px-12 py-8 text-white mix-blend-difference"
>
  <div>
    <span class="text-xl font-semibold"
      ><a
        rel="prefetch"
        class="transition-[letter-spacing_color] duration-300 hover:tracking-widest hover:text-white/75"
        href="/">SimplyMerlin</a
      >
      {title && "/"}
      {
        page === "developer" || page === "editor" ? (
          <a
            href={`/${getOpposite()}`}
            rel="prefetch"
            class="relative inline-flex overflow-y-hidden"
          >
            <span class="select-none text-transparent" aria-hidden="true">
              Developer
            </span>
            <span
              class={`absolute left-0 top-0 transition-all duration-300 ease-in-out ${
                page === "editor"
                  ? "translate-y-0 hover:-translate-y-1/2"
                  : "-translate-y-1/2 hover:translate-y-0"
              }`}
            >
              <span class="block">Editor</span>
              <span class="block">Developer</span>
            </span>
          </a>
        ) : page.startsWith("snippets-") ? (
          <a
            rel="prefetch"
            class="transition-[letter-spacing_color] duration-300 hover:tracking-widest hover:text-white/75"
            href="/snippets"
          >
            {title}
          </a>
        ) : (
          title || ""
        )
      }
    </span>
  </div>
  <div class="flex gap-4">
    <a
      class="text-xl underline decoration-white/30 decoration-dashed transition-colors hover:text-white/80"
      href="/snippets"
    >
      writing
    </a>
    <a
      class="text-xl underline decoration-white/30 decoration-dashed transition-colors hover:text-white/80"
      href="/contact"
    >
      contact
    </a>
  </div>
</nav>
